body{
	margin:0;
	padding:0;
}
li{
	display:inline;
}
nav{
	background-color:black;
	color:white;
}
img{
		width:100px;
         height:30px;
}
#divMae{
	width:100%;
	height:100%;
}
#divGeral{
	margin:0;
	padding:0;
	width:100%;
	height:300px;
}
#butao{
	background-color:white;
}
#SpringFaz{
	background-color:black;
	height:500px;
	align-items:center;
}
#titulo1{
	display:inline;
	
}

#Micro{
	width:250px;
	height:210px;
	border-width: 2px;
	border-style: solid;
	border-color: gray;

}
#Micro1{
	width:250px;
	height:210px;
	border-width: 2px;
	border-style: solid;
	border-color: gray;
	margin-left:20px;
	margin-right:20px;
}

#Micro:hover{
	border-color:white;
	color:white;
}
#Micro1:hover{
	border-color:white;
	color:white;
}
#divService{
	justify-content:center;
}
i{
	color:gray;
}
.tabela{
	width:75%;
	margin-left:100px;
}
#divDev{
	height:270px;
}

#Instrutor{
	background-color:black;
	color:white;
}
#quote{
	color:green;
}
#divI{
	width:50%;
}
#foto{
	width:50%;
}
#me{
	width:1500;
}
footer{
	background-color:#00FF40;
	bottom:0;
	width:100%;
	height:1.5rem;
}